.demo-container{
    width: 250px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 4px;
    margin: auto;
}

.selected{
    width: 240px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 4px;
    margin: auto;
    height: 20px;
    font-size: 13px;
    height: 40px;
    display: flex;
    padding: 0px 5px;
    flex-direction: column;
    justify-content: center;
}

.selected:hover{
    cursor: pointer;
}