.scroll-select-container{
    position: relative;
    height: 100%;
}

.scroll-selector-area{
    position: absolute;
    border-top: 1px solid #ebeefa;
    border-bottom: 1px solid #ebeefa;
    width: 100%;
    z-index: -1;
}

.scroll-select-list{
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
    color: rgb(187, 187, 187);
    position: relative;
}

.scroll-select-list::-webkit-scrollbar { width: 0 !important }

.scroll-item{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 10px; */
}

.scroll-item:hover{
    cursor: pointer;
}

.selected-time{
    color: rgb(29, 29, 29);
    font-weight: bold;
    transition: all 0.2s ;
    color: rgb(50, 50, 50);
}